article {
  background-color: #FCF2FC;
  width: 95vw;
  height: 95vh;
}
body {
}
.heart {
  display: block;
  margin: auto;
  padding-top: 7%;
  position: relative;
  height: 80%;
  width: 80%;
}
.heart:hover * {
  fill: #9AD4D6;
  transition: top ease 0.5s;
}
.heart-box {
  border-radius: 95em;
  box-sizing: border-box;
  background-color: #564787;
  margin: auto;
  width: 25vh;
  height: 25vh;
}
.heart-box:hover {
  background-color: #E56399;
}

