article {
  background: linear-gradient(#9AD4D6, #FFAAB8);
  border-radius: 15px;
  box-sizing: border-box;
  overflow: scroll;
  padding: 10px;
  width: 95vw;
  height: 100vh;
  margin: auto;
}
body {
  background-color: #E56399;
}
.heart {
  display: block;
  margin: auto;
  padding-top: 7%;
  position: relative;
  height: 80%;
  width: 80%;
}
.heart:hover * {
  fill: #9AD4D6;
  transition: top ease 0.5s;
}
.heart-box {
  border-radius: 95em;
  box-sizing: border-box;
  background-color: #564787;
  float: left;
  margin: 1.5em;
  width: 25vh;
  height: 25vh;
}
.heart-box:hover {
  background-color: #E56399;
}
.message-box {
  background-color: #9AD4D6;
  box-sizing: border-box;
  border: .3em outset #E56399;
  border-radius: 10px;
  color: #564787;
  font-family: 'Indie Flower', 'Raleway',  cursive, sans-serif;
  float: left;
  font-size: 5em;
  padding: .3em;
}
.message-box:hover {
  background-color: #E56399;
  border-color: #9AD4D6;
}

